<div class="container my-5">
  <div class="row">
    <div>
      <h1>お問い合わせ</h1>
      <p>サービスのご感想・不具合等ありましたら、お手数ですがRUNTEQのMattermost上で以下のチャンネルを検索いただき、そちらにご投稿お願いいたします。</p>

      <h4>開発チーム チャンネル名</h4>
      <ul>
        <li>ひよこコネクト開発</li>
      </ul>

      <h4>開発者 個人チャンネル名</h4>
      <ul>
        <li class="my-1">times_23期生_ohno_shota</li>
        <li class="my-1">times_23期生_tateno_mayu</li>
        <li class="my-1">times_23期生_nakano_subaru</li>
        <li class="my-1">times_23期生_kohei_yamamoto</li>
      </ul>
    </div>
  </div>
</div>