<%= link_to profile_like_path(@profile), method: :post, class: 'text-decoration-none' do %>
  <button class="btn btn-primary rounded-pill">
    <span>
      <%= t('profiles.show.like') %>
      <%= image_tag 'hiyoco.png', size: '26x26' %>
    </span>
  </button>
<% end %>
 