<%= link_to profile_like_path(@profile), method: :delete, class: 'text-decoration-none' do %>
  <button class="btn btn-info d-flex justify-content-center rounded-pill text-dark">
    <span><%= t('profiles.show.liked') %></span>
    <span><%= image_tag 'hiyoco.png', size: '22x22', class: 'pb-1' %></span>
  </button>
<% end %>
