<div class="container-fluid">
  <div class="col-10 offset-1 py-5">
    <div class="row">
      <% if @profiles.present? %>
        <%= render @profiles %>
      <% else %>
        <p><%= t '.profile_not_found_message' %></p>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-center pb-3">
    <%= paginate @profiles, theme: 'bootstrap-5' %>
  </div>
</div>
