<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <%= link_to edit_profile_path(profile), class: "button-edit" do %>
      <i class="fas fa-pen" style="color: white; margin-right: 10px;"></i><span style="font-size: 20px;">編集</span>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to profile_path(profile), class: "button-delete", method: :delete, data: { confirm: t('defaults.messages.delete_confirm') } do %>
      <i class="fa fa-trash" aria-hidden="true" style="color: white;"></i>
    <% end %>
  </li>
</ul>