<footer class="bg-secondary">
  <div class="container">
    <div class="row py-2">
      <div class="col-12 text-center">
        <%= link_to (t 'static_pages.terms.title'), terms_path, class: 'text-dark px-2 text-decoration-none' %>
        <%= link_to (t 'static_pages.policy.title'), policy_path, class: 'text-dark px-2 text-decoration-none' %>
        <%= link_to (t 'static_pages.contact.title'), contact_path, class: 'text-dark px-2 text-decoration-none' %>
      </div>
    </div>

    <div class="row pb-2"> 
      <div class="col-12 text-center text-dark">
        © 2022 <%= t 'defaults.app_title' %>
      </div>
    </div>
  </div>
</footer>