<footer class="bg-secondary">
  <div class="container">
    <div class="row py-1">
      <div class="col-12 text-center">
        <a class="text-dark px-2" href="#">利用規約</a>
        <a class="text-dark px-2" href="#">プライバシーポリシー</a>
        <a class="text-dark px-2" href="#">お問い合わせ</a>
      </div>
    </div>

    <div class="row py-1"> 
      <div class="col-12 text-center text-dark">
        © 2022 ひよこコネクト 
      </div>
    </div>
  </div>
</footer>