<header>
<nav class="navbar bg-primary navbar-expand-md">
  <div class="container-fluid">
    <%= link_to (t 'defaults.app_title'), root_path, class: 'navbar-brand text-dark' %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active text-dark" href="#">ログイン</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
</header>