@import "./customized_bootstrap.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.text-input-area{
  background-color: $gray-500;
}

.form-container{
  text-align: center;
  margin: 0px 50px;
}

.self-introduce{
  height: 200px;
}

.field_with_errors {
  display: contents;
}