@import "./customized_bootstrap.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

.pulldown {
  background-image: url(../../assets/images/pull_down.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 10px center;
}

.pagination>li>a {
  color: #000000;
}

.unlike-button {
  background-color: #FF7D91;
}

.profile-sarch-btn {
  position: fixed;
  bottom: 6%;
  right: 4%;
  font-size: 150%;
}
.profile-sarch-btn a {
  background: #666;
  text-decoration: none;
  color: #fff;
  width: 64px;
  height: 64px;
  padding: 16px 0;
  text-align: center;
  display: block;
  border-radius: 50%;
}
.profile-sarch-btn a:hover {
  text-decoration: none;
  background: #999;
}